/* Estilo para a tabela de comparação */

body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: blanchedalmond;
    color: #333;
}

.menu {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

.comparison-table {
    width: 100%;
    border: 2px solid #000; /* Adicionando borda à tabela */
    border-collapse: collapse; /* Mesclando bordas de células */
}

.comparison-table th, .comparison-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000; /* Adicionando linha divisória entre as linhas */
    border-right: 1px solid #000; /* Adicionando linha divisória entre as colunas */
}

.comparison-table th {
    background-color: #0000CD; /* Azul escuro */
    color: white; /* Texto branco */
}

/* Estilo para linhas zebradas */
.comparison-table tr:nth-child(even) {
    background-color: #808080; /* Cinza */
}

.comparison-table tr:nth-child(odd) {
    background-color: #D3D3D3; /* Cinza claro */
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}